<template>
    <div id="bs-nav-bar" class="small">
        <b-navbar toggleable="lg" type="dark" variant="success" style="max-height: 6vh">
            <b-navbar-brand href="/">
                <b-img-lazy id="bs-logo-nav-bar" :src="logo" fluid/>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <template v-slot:button-content>
                            <span><i class="fa fa-user"/> Usuário</span>
                        </template>
                        <!-- Entrar na conta -->
                        <b-dropdown-item :href="logar">
                            <span><i class="fas fa-sign-in-alt"/> Login</span>
                        </b-dropdown-item>
                        <b-dropdown-divider/>
                        <!-- Sair da conta -->
                        <b-dropdown-item>
                            <span><i class="fas fa-power-off"/> Logoff</span>
                        </b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component
    export default class BSNavBar extends Vue {
        private logar = process.env.VUE_APP_ROTA_USUARIO_AUTENTICACAO
        private logo = process.env.VUE_APP_URL_LOGO
    }
</script>
<style lang="scss" scoped>
    #bs-nav-bar {
        border-bottom: #181818 solid 0.2vh;
    }

    #bs-logo-nav-bar {
        max-height: 6vh;
    }
</style>
