<template>
    <div class="small">
        <b-container class="container-fluid">
            <b-row>
                <b-col>
                    <b-table id="bs-tbl-cliente" small hover bordered striped borderless
                             :current-page="currentPage" :per-page="perPage"
                             :fields="fieldsTblCliente" :items="itemsTblCliente"
                             class="mt-3">
                        <!-- THeader -->
                        <template v-slot:thead-top>
                            <b-tr>
                                <b-th :colspan="fieldsTblCliente.length"
                                      class="border-bottom border-dark"
                                      variant="secondary"><i class="fas fa-table"/>
                                    Lista de clientes
                                </b-th>
                            </b-tr>
                            <!-- Filtros -->
                            <b-tr>
                                <b-th variant="secondary" :colspan="fieldsTblCliente.length"
                                      class="border-bottom border-dark">
                                    <b-form-group label="Filtros" size="sm">
                                        <b-input-group size="sm">
                                            <b-input-group-prepend is-text>
                                                <i class="fas fa-search"/>
                                            </b-input-group-prepend>
                                            <b-form-select class="col-5" v-model="filtroSelecionado"
                                                           :options="listaFiltros"></b-form-select>
                                            <b-input/>
                                        </b-input-group>
                                    </b-form-group>
                                </b-th>
                            </b-tr>
                        </template>
                        <!-- Menu -->
                        <template v-slot:cell(menu)="data">
                            <b-btn block size="sm" variant="outline-dark" @click="SelecionarCliente(data.item)"><i
                                    class="fas fa-user-plus"/></b-btn>
                        </template>
                    </b-table>
                    <b-pagination v-model="currentPage"
                                  :total-rows="RowsTblCliente" :per-page="perPage"
                                  v-if="RowsTblCliente > perPage" size="sm" align="right"
                                  aria-controls="bs-tbl-produtos-add"/>
                </b-col>
            </b-row>
            <hr>
            <b-row>
                <b-col>
                    <div class="float-right">
                        <b-btn size="sm" variant="outline-danger" @click="$bvModal.hide('bs-modal-cliente')"><i
                                class="fas fa-power-off"/> Fechar
                        </b-btn>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import ClienteClass from "@/app/model/Cliente.class";

    @Component
    export default class Cliente extends Vue {
        private fieldsTblCliente = [
            {key: "codigo", label: "Cod."},
            {key: "nome"},
            {key: "nomeFantasia", label: "Nome Fantasia"},
            {key: "cep", label: "CEP"},
            {key: "logradouro"},
            {key: "bairro"},
            {key: "municipio", label: "Município"},
            {key: "numero", label: "Nº"},
            {key: "menu", label: ""}
        ];
        private itemsTblCliente = [
            {
                codigo: 1,
                nome: "test",
                nomeFantasia: "test2",
                cep: "31777-111",
                logradouro: "test",
                bairro: "test",
                municipio: "test",
                numero: 1
            },
        ];

        private perPage = 8;
        private currentPage = 1;

        private filtroSelecionado = "codigo";
        private listaFiltros = [
            {value: "codigo", text: "Pesquisar por código"},
            {value: "nome", text: "Pesquisar por nome"},
            {value: "nomeECommerce", text: "Pesquisar por nome fantasia"},
        ]

        private SelecionarCliente(cliente: ClienteClass) {
            this.$bvModal.hide("bs-modal-cliente");
        }

        private get RowsTblCliente() {
            return this.itemsTblCliente.length
        }
    }
</script>

<style lang="scss" scoped>
    @import "Cliente.style.css";
</style>
