$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

// Variable
$dark: #181818;

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}

// App.vue
#bs-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6vh 90vh 4vh;
  grid-template-areas: "bs-header" "bs-main" "bs-footer";
}

#bs-header {
  grid-area: bs-header;
}

#bs-main {
  grid-area: bs-main;
  align-self: center;
  justify-self: center;
  #bs-main-view {
    max-height: 88vh;
    overflow: auto;
  }
}

#bs-footer {
  grid-area: bs-footer;
  background: $success;
  border-top: $dark solid 0.2vh;
}

// Scroll
::-webkit-scrollbar-track {
  background-color: $light;
  border: none;
}

::-webkit-scrollbar {
  width: 0.7vw;
  max-height: 0.5vw;
  background-color: $light;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border: none;
}
