<template>
    <div class="home small">
        <b-overlay spinner-variant="dark" :show="carregar" rounded="sm">
            <b-card id="bs-sales-force" header-bg-variant="success" header-text-variant="light">
                <template v-slot:header>
                    <i class="fa fa-shopping-cart"/>
                </template>
                <b-card-body>
                    <b-form @submit="Save">
                        <b-container class="container-fluid">
                            <b-row>
                                <!-- Cliente -->
                                <b-col>
                                    <b-form-group label="Cliente">
                                        <b-input-group size="sm">
                                            <b-input-group-prepend is-text>
                                                <i class="fas fa-user"/>
                                            </b-input-group-prepend>
                                            <b-input required type="number" placeholder="Código" class="col-2"/>
                                            <b-input-group-append>
                                                <b-btn variant="outline-success" v-b-modal:bs-modal-cliente
                                                       v-b-popover.bottom.hover="'Busca avançada de clientes'">
                                                    <i class="fas fa-arrow-right"/></b-btn>
                                            </b-input-group-append>
                                            <b-input disabled/>
                                        </b-input-group>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <!-- ProdutosClass -->
                                <b-col>
                                    <b-form-group label="Produtos">
                                        <b-input-group size="sm">
                                            <b-input-group-prepend is-text>
                                                <i class="fas fa-box"/>
                                            </b-input-group-prepend>
                                            <b-input required type="number" placeholder="Código" class="col-2"/>
                                            <b-input-group-append>
                                                <b-btn variant="outline-success" v-b-modal:bs-modal-produtos
                                                       v-b-popover.bottom.hover="'Busca avançada de produtos'">
                                                    <i class="fas fa-arrow-right"/></b-btn>
                                            </b-input-group-append>
                                            <b-input disabled/>
                                            <b-input-group-append>
                                                <b-btn variant="outline-success"
                                                       v-b-popover.bottom.hover="'Adicionar produto a lista'">
                                                    <i class="fas fa-plus"/></b-btn>
                                            </b-input-group-append>
                                        </b-input-group>
                                        <!-- Tabela de produtos -->
                                        <b-table id="bs-tbl-produtos" small hover bordered striped borderless
                                                 :no-collapse="false" :responsive="true" head-row-variant="success"
                                                 :current-page="currentPage" :per-page="perPage"
                                                 :fields="fieldsTblProdutos" :items="ItemsTblProdutos"
                                                 class="mt-3">
                                            <!-- THeader -->
                                            <template v-slot:thead-top>
                                                <b-tr>
                                                    <b-th :colspan="fieldsTblProdutos.length"
                                                          class="border-bottom border-dark"
                                                          variant="secondary"><i class="fas fa-table"/>
                                                        Lista de produtos
                                                    </b-th>
                                                </b-tr>
                                                <!-- Filtros -->
                                                <b-tr>
                                                    <b-th variant="secondary" :colspan="fieldsTblProdutos.length"
                                                          class="border-bottom border-dark">
                                                        <b-form-group label="Filtros" size="sm">
                                                            <b-input-group size="sm">
                                                                <b-input-group-prepend is-text>
                                                                    <i class="fas fa-search"/>
                                                                </b-input-group-prepend>
                                                                <b-form-select class="col-5" v-model="filtroSelecionado"
                                                                               :options="listaFiltros"></b-form-select>
                                                                <b-input/>
                                                            </b-input-group>
                                                        </b-form-group>
                                                    </b-th>
                                                </b-tr>
                                            </template>
                                            <!-- Nome -->
                                            <template v-slot:cell(nome)="data">
                                                <span v-b-popover.bottom.hover="data.item.nome" class="bs-max-column">{{data.item.nome}}</span>
                                            </template>
                                            <!-- Nome e-commerce -->
                                            <template v-slot:cell(nomeECommerce)="data">
                                                <span v-b-popover.bottom.hover="data.item.nomeECommerce"
                                                      class="bs-max-column">{{data.item.nomeECommerce}}</span>
                                            </template>
                                            <!-- Quantidade -->
                                            <template v-slot:cell(quantidade)="data">
                                                <b-input-group size="sm" style="min-width: 185px">
                                                    <b-input-group-prepend>
                                                        <b-btn @click="$bvModal.show(`bs-modal-${data.item.nomeECommerce}`)"
                                                               variant="outline-dark"
                                                               v-b-popover.bottom.hover="`Adicionar quantidade do produto '${data.item.nome}' manualmente`">
                                                            <i class="fas fa-boxes"/>
                                                        </b-btn>
                                                    </b-input-group-prepend>
                                                    <b-form-spinbutton v-model="data.item.quantidade" min="1"
                                                                       max="9999999"/>
                                                    <b-input-group-append>
                                                        <b-btn variant="outline-danger"
                                                               @click="RemoveProdutoTbl(data.item)"
                                                               v-b-popover.bottom.hover="`Remove produto '${data.item.nome}' da lista`">
                                                            <i class="fas fa-eraser"/></b-btn>
                                                    </b-input-group-append>
                                                </b-input-group>
                                                <!-- Produto modal -->
                                                <b-modal :id="`bs-modal-${data.item.nomeECommerce}`" size="sm"
                                                         hide-footer
                                                         centered header-bg-variant="success"
                                                         header-text-variant="light">
                                                    <template v-slot:modal-header><i class="fas fa-calculator small"/>
                                                    </template>
                                                    <b-form-group size="sm"
                                                                  :label="`Quandidade de item do produto: ${data.item.nome}`">
                                                        <b-input-group size="sm">
                                                            <b-input type="number" v-model="data.item.quantidade"
                                                                     @click="data.item.quantidade = 0"
                                                                     class="text-center font-weight-bolder"/>
                                                        </b-input-group>
                                                    </b-form-group>
                                                    <div class="float-right">
                                                        <b-btn variant="outline-danger" size="sm"
                                                               @click="$bvModal.hide(`bs-modal-${data.item.nomeECommerce}`)">
                                                            <i class="fas fa-power-off"/> Fechar
                                                        </b-btn>
                                                    </div>
                                                </b-modal>
                                            </template>
                                            <template v-slot:cell(preco)="data">
                                                {{ConverterEmReal(data.item.preco)}}
                                            </template>
                                            <!-- Total -->
                                            <template v-slot:custom-foot>
                                                <b-tr variant="secondary">
                                                    <b-th :colspan="fieldsTblProdutos.length">
                                                        <b-row class="w-100">
                                                            <b-col class="border-right border-dark text-center">
                                                                <i class="fas fa-truck-loading"/>
                                                                Total de produtos:
                                                                <b>{{SumTotalUnidadeProdutos}}</b>
                                                            </b-col>
                                                            <b-col class="border-left border-dark text-center">
                                                                <i class="fas fa-shopping-bag"/> Total de items:
                                                                <b>{{SumTotalQuantidadeProdutos}}</b>
                                                            </b-col>
                                                        </b-row>
                                                    </b-th>
                                                </b-tr>
                                            </template>
                                        </b-table>
                                        <b-pagination v-if="itemsTblProdutos.length > perPage" v-model="currentPage"
                                                      :total-rows="RowsTblProdutos" :per-page="perPage"
                                                      size="sm" align="right"
                                                      aria-controls="bs-tbl-produtos"/>

                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <!-- Frete && Total -->
                            <b-row>
                                <!-- Frete -->
                                <b-col>
                                    <b-card header-bg-variant="success" header-text-variant="light">
                                        <template v-slot:header>
                                            <i class="fas fa-truck"/> Tipo de retirada - Opções de pagamento
                                        </template>
                                        <b-card-body>
                                            <b-form-group label="Selecione o frete">
                                                <b-form-radio-group id="bs-radio-group-frete"
                                                                    size="sm"
                                                                    class="btn-block"
                                                                    v-model="frete"
                                                                    @change="parcelas = 1"
                                                                    :options="OpicoesFrete"
                                                                    name="radio-options"/>
                                            </b-form-group>
                                            <b-form-group label="Opções de pagamento">
                                                <b-form-radio-group id="bs-radio-group-opcao-pagamento"
                                                                    size="sm"
                                                                    class="btn-block"
                                                                    v-model="frete"
                                                                    @change="parcelas = 1"
                                                                    :options="OpicoesPAgamento"
                                                                    name="radio-options"/>
                                                <template v-if="frete.retirada === 'cartao'">
                                                    <label class="mt-2">Numero de parcelas</label>
                                                    <b-form-group>
                                                        <b-form-spinbutton id="bs-input-spinbutton"
                                                                           v-model="parcelas" min="1" max="12" size="sm"
                                                                           wrap/>
                                                        <div class="mt-1">
                                                            <span class="text-danger font-weight-bold">Apartir de 5x, será cobrado juros de 0,05% ao mês</span>
                                                        </div>
                                                    </b-form-group>
                                                </template>
                                            </b-form-group>
                                        </b-card-body>
                                    </b-card>
                                </b-col>
                                <!-- Total -->
                                <b-col>
                                    <b-card header-bg-variant="success" header-text-variant="light">
                                        <template v-slot:header>
                                            <i class="fas fa-money-bill-alt"/> Total a pagar
                                        </template>
                                        <b-card-body>
                                            <b-form-group label="Total do orçamento">
                                                <b-list-group class="text-right">
                                                    <!-- A vista -->
                                                    <b-list-group-item> Total avista
                                                        <span class="font-weight-bold">{{SumProdutos}}</span>
                                                    </b-list-group-item>
                                                    <!-- Parcelado -->
                                                    <b-list-group-item v-if="parcelas > 1">
                                                        <span class="font-weight-bold">{{parcelas}} vezes de {{SumProdutosParcelas}} ,Total parcelado {{SumJurosMaisProdutos}}</span>
                                                    </b-list-group-item>

                                                    <b-list-group-item v-if="parcelas >= 5">
                                                        <span class="font-weight-bold">Acrecimo de {{Juros}}</span>
                                                    </b-list-group-item>

                                                    <b-list-group-item>Frete <span class="font-weight-bold"
                                                                                   v-text="ConverterEmReal(frete.preco)"/>
                                                    </b-list-group-item>
                                                    <b-list-group-item variant="secondary border-top border-dark">
                                                        <h6>
                                                            Total <span class="font-weight-bold text-danger">{{SumTotalProdutoFreteAcrecimo}}</span>
                                                        </h6>
                                                    </b-list-group-item>
                                                </b-list-group>
                                            </b-form-group>
                                        </b-card-body>
                                    </b-card>
                                </b-col>
                            </b-row>
                            <!-- Opções de finalização -->
                            <b-row class="mt-2">
                                <b-col>
                                    <div class="float-right">
                                        <b-btn-group size="sm">
                                            <b-btn variant="outline-dark" type="submit">
                                                <i class="fas fa-file-upload"/> Salvar
                                            </b-btn>
                                        </b-btn-group>
                                    </div>
                                </b-col>
                            </b-row>
                        </b-container>
                    </b-form>
                </b-card-body>
            </b-card>
        </b-overlay>

        <!-- Modal - CLiente -->
        <b-modal id="bs-modal-cliente" size="xl" centered
                 header-text-variant="light" header-bg-variant="success"
                 hide-footer>
            <template v-slot:modal-header><i class="fas fa-user-check small"/></template>
            <bs-cliente-modal/>
        </b-modal>
        <!-- Modal - ProdutosClass -->
        <b-modal id="bs-modal-produtos" size="xl" centered
                 header-text-variant="light" header-bg-variant="success"
                 hide-footer>
            <template v-slot:modal-header><i class="fas fa-shopping-cart small"/></template>
            <bs-produtos-modal :compararitem-lista="itemsTblProdutos"/>
        </b-modal>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import FreteClass from "@/app/model/Frete.class";
    import Cliente from "@/app/views/components/cliente/Cliente.vue";
    import ForcaVendaController from "./ForcaVenda.Controller"
    import Produtos from "@/app/views/components/produtos/Produtos.vue";
    import ConfirmationModal from "@/app/controller/modal/ConfirmationModal";
    import ProdutosClass from "@/app/model/Produtos.class";
    import ConversoresUtil from '@/app/controller/util/Conversores.util';

    const ConvertNum = function (valor: string) {
        return parseFloat(valor.replace(".", "").replace(",", ".").replace("R$", "").trim())
    }

    @Component({
        components: {
            "bs-cliente-modal": Cliente,
            "bs-produtos-modal": Produtos
        }
    })
    export default class ForcaVenda extends Vue {
        private carregar = false;

        private ConverterEmReal(valor: number) {
            return ConversoresUtil.ConverterEmReal(valor);
        }

        // ProdutosClass
        private parcelas = 1;
        private perPage = 8;
        private currentPage = 1;
        private fieldsTblProdutos = [
            {
                key: "codigo",
                label: "Cod.",
                stickyColumn: true,
                isRowHeader: true,
                variant: "secondary",
                class: "text-center border border-dark align-middle"
            },
            {key: "nome", label: "Nome", class: "align-middle"},
            {key: "nomeECommerce", label: "Nome e-commerce", class: "align-middle"},
            {key: "embalagem", label: "Embalagem", class: "align-middle"},
            {key: "unidade", label: "UN.", class: "align-middle"},
            {key: "quantidade", label: "Qtd.", class: "bs-col align-middle"},
            {key: "preco", label: "R$", class: "align-middle font-weight-bolder"},
        ]
        private itemsTblProdutos = [
            {
                codigo: 2,
                nome: "test1 alksdjlkasjdlajsdlkj lakdsj lkjadsk",
                nomeECommerce: "test e-commerce2 jgkldjflgjdflkgjdlkgj dfjg lkdfjglkdfj",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            },
            {
                codigo: 3,
                nome: "test2",
                nomeECommerce: "test e-commerce3",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            }, {
                codigo: 4,
                nome: "test3",
                nomeECommerce: "test e-commerce4",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            }, {
                codigo: 6,
                nome: "test5",
                nomeECommerce: "test e-commerce6",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            },
        ];

        private pesquisarProdutos: number | string = "";
        private filtroSelecionado = "codigo";
        private listaFiltros = [
            {value: "codigo", text: "Pesquisar por código"},
            {value: "nome", text: "Pesquisar por nome do produto"},
            {value: "nomeECommerce", text: "Pesquisar por nome do e-commerce"},
            {value: "embalagem", text: "Pesquisar por embalagem"},
            {value: "departamento", text: "Pesquisar por departamento"},
        ]

        private get ItemsTblProdutos() {
            return this.itemsTblProdutos;
        }

        private get RowsTblProdutos() {
            return this.itemsTblProdutos.length
        }

        private get Juros() {
            return this.parcelas >= 5 ? ConversoresUtil.ConverterEmReal((ForcaVendaController.SumListProdutos(this.itemsTblProdutos)) * 0.005 * this.parcelas) : "R$ 0.00";
        }

        private get SumProdutos() {
            return ConversoresUtil.ConverterEmReal(ForcaVendaController.SumListProdutos(this.itemsTblProdutos))
        }

        private get SumProdutosParcelas() {
            return ConversoresUtil.ConverterEmReal((ForcaVendaController.SumListProdutos(this.itemsTblProdutos) + ConvertNum(this.Juros) + this.frete.preco) / this.parcelas)
        }

        private get SumJurosMaisProdutos() {
            return ConversoresUtil.ConverterEmReal(ForcaVendaController.SumListProdutos(this.itemsTblProdutos) + ConvertNum(this.Juros))
        }

        private get SumTotalUnidadeProdutos(): number {
            return this.itemsTblProdutos.map(e => e.unidade).reduce((a, b) => a + b);
        }

        private get SumTotalQuantidadeProdutos(): number {
            return this.itemsTblProdutos.map(e => e.quantidade).reduce((a, b) => a + b);
        }

        private get SumTotalProdutoFreteAcrecimo() {
            return ConversoresUtil.ConverterEmReal(ConvertNum(this.SumProdutos) + this.frete.preco + ConvertNum(this.Juros));
        }

        private async RemoveProdutoTbl(item: ProdutosClass) {
            await new ConfirmationModal().confirmModal("test").then(r => {
                if (r) {
                    this.itemsTblProdutos.splice(this.itemsTblProdutos.indexOf(item), 1);
                }
            }).catch((err: Error) => new ConfirmationModal().ErrorModal(err.message))
        }

        // Frete
        private frete = new FreteClass();
        private opicoesFrete = [];

        private get OpicoesFrete() {
            return [
                {text: "Retirada na loja", value: {codigo: 2, retirada: "cliente", preco: 0}},
                {text: "Receba no endereço", value: {codigo: 2, retirada: "cliente", preco: 300}},
            ];
        }

        private get OpicoesPAgamento() {
            return [
                {text: "Boleto", value: {codigo: 3, retirada: "loja", preco: 90}},
                {text: "Cartão até 12x", value: {codigo: 4, retirada: "cartao", preco: 90}},
            ];
        }

        private async Save(event: Event) {
            event.preventDefault();
            await new ConfirmationModal().confirmModal("test").then(r => {
                if (r) {
                    console.log("FOI");
                    this.carregar = true
                } else console.log("FOI NÂO")
            }).catch((err: Error) => new ConfirmationModal().ErrorModal(err.message))
        }
    }
</script>

<style lang="scss" scoped>
    @import "ForcaVenda.style";
</style>
