#bs-sales-force {
  //@media screen and (max-width: 1366px) {
  //  width: 90vw;
  //  min-width: 700px;
  //}
  //
  //@media screen and (max-width: 1920px) {
  //  width: 70vw;
  //  min-width: 700px;
  //}
  //
  //@media screen and (max-width: 2560px) {
  //  width: 55vw;
  //  min-width: 700px;
  //}
}

.bs-max-column {
  display: block;
  width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
