<template>
    <div class="small">
        <b-container class="container-fluid">
            <b-row>
                <b-col>
                    <b-table id="bs-tbl-produtos-add" small hover bordered striped borderless
                             :no-collapse="false"
                             :responsive="true"
                             :current-page="currentPage" :per-page="perPage"
                             :fields="fieldsTblProdutos" :items="itemsTblProdutos"
                             class="table-responsive-sm">
                        <!-- THeader -->
                        <template v-slot:thead-top>
                            <b-tr>
                                <b-th :colspan="fieldsTblProdutos.length"
                                      class="border-bottom border-dark"
                                      variant="secondary"><i class="fas fa-table"/>
                                    Lista de Produtos
                                </b-th>
                            </b-tr>
                            <!-- Filtros -->
                            <b-tr>
                                <b-th variant="secondary" :colspan="fieldsTblProdutos.length"
                                      class="border-bottom border-dark">
                                    <b-form-group label="Filtros" size="sm">
                                        <b-input-group size="sm">
                                            <b-input-group-prepend is-text>
                                                <i class="fas fa-search"/>
                                            </b-input-group-prepend>
                                            <b-form-select class="col-5" v-model="filtroSelecionado"
                                                           :options="listaFiltros"></b-form-select>
                                            <b-input/>
                                        </b-input-group>
                                    </b-form-group>
                                </b-th>
                            </b-tr>
                        </template>
                        <!-- Preço -->
                        <template v-slot:cell(preco)="data">
                            <span v-text="ConverterEmReal(data.item.preco)"></span>
                        </template>
                        <!-- Menu -->
                        <template v-slot:cell(menu)="data">
                            <b-btn block size="sm" :variant="ItemExisteTblProdutos(data.item).variante"
                                   v-b-popover.hover="ItemExisteTblProdutos(data.item).poptext"
                                   @click="SelecionarCliente(data.item)">
                                <i :class="ItemExisteTblProdutos(data.item).classeIcone"/></b-btn>
                        </template>
                    </b-table>
                    <b-pagination v-model="currentPage"
                                  :total-rows="RowsTblProdutos" :per-page="perPage"
                                  v-if="RowsTblProdutos > perPage" size="sm" align="right"
                                  aria-controls="bs-tbl-produtos-add"/>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <div class="float-right">
                        <b-btn size="sm" variant="outline-danger" @click="$bvModal.hide('bs-modal-produtos')">
                            <i class="fas fa-power-off"/> Fechar
                        </b-btn>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import ProdutosClass from "@/app/model/Produtos.class";
    import ConversoresUtil from "@/app/controller/util/Conversores.util";

    type ObjItemExisteTbl = { variante: string, classeIcone: string, poptext: string }

    @Component
    export default class Produtos extends Vue {
        @Prop() public compararitemLista!: Array<ProdutosClass>;
        private perPage = 8;
        private currentPage = 1;

        private fieldsTblProdutos = [
            {key: "codigo", label: "Cod."},
            {key: "nome", label: "Nome"},
            {key: "nomeECommerce", label: "Nome e-commerce"},
            {key: "embalagem", label: "Embalagem"},
            {key: "unidade", label: "UN."},
            {key: "preco", label: "R$"},
            {key: "menu", label: ""}
        ]
        private itemsTblProdutos = [
            {
                codigo: 1,
                nome: "test",
                nomeECommerce: "test e-commerce1",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            },
            {
                codigo: 2,
                nome: "test1",
                nomeECommerce: "test e-commerce2",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            },
            {
                codigo: 3,
                nome: "test2",
                nomeECommerce: "test e-commerce3",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            }, {
                codigo: 4,
                nome: "test3",
                nomeECommerce: "test e-commerce4",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            }, {
                codigo: 5,
                nome: "test4",
                nomeECommerce: "test e-commerce5",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            }, {
                codigo: 6,
                nome: "test5",
                nomeECommerce: "test e-commerce6",
                embalagem: "Não",
                unidade: 1,
                quantidade: 1,
                preco: 300.23
            },
        ];

        private pesquisarProdutos: number | string = "";
        private filtroSelecionado = "codigo";
        private listaFiltros = [
            {value: "codigo", text: "Pesquisar por código"},
            {value: "nome", text: "Pesquisar por nome do produto"},
            {value: "nomeECommerce", text: "Pesquisar por nome do e-commerce"},
            {value: "embalagem", text: "Pesquisar por embalagem"},
            {value: "departamento", text: "Pesquisar por departamento"},
        ]

        private SelecionarCliente(item: ProdutosClass) {
            console.table(item)
        }

        private ItemExisteTblProdutos(item: ProdutosClass): ObjItemExisteTbl {
            const existeTabelaProdutos = this.compararitemLista.map(function (e) {
                return e.codigo
            }).indexOf(item.codigo)

            return existeTabelaProdutos === -1
                ? {variante: "outline-dark", classeIcone: "fas fa-cart-plus", poptext: "Adicionar na lista"}
                : {
                    variante: "outline-danger",
                    classeIcone: "fas fa-eraser",
                    poptext: `Remover da lista o produto '${item.nome}'`
                }
        }

        private get RowsTblProdutos() {
            return this.itemsTblProdutos.length
        }

        private ConverterEmReal(valor: number) {
            return ConversoresUtil.ConverterEmReal(valor);
        }
    }
</script>

<style lang="scss" scoped>
    @import "Produtos.style";
</style>
