<template>
    <div class="home small">
        <b-overlay spinner-variant="dark" :show="carregar" rounded="sm">
            <b-card id="bs-authentication"
                    header-bg-variant="success" header-text-variant="light"
                    class="shadow-lg">
                <template v-slot:header>
                    <i class="fa fa-lock"/>
                </template>
                <b-card-body>
                    <b-form @submit="Login">
                        <!-- Matricula -->
                        <b-form-group label="Matricula">
                            <b-input-group size="sm">
                                <b-input-group-prepend is-text>
                                    <i class="fa fa-user"/>
                                </b-input-group-prepend>
                                <b-input type="text" required/>
                            </b-input-group>
                        </b-form-group>
                        <!-- Senha -->
                        <b-form-group label="Senha">
                            <b-input-group size="sm">
                                <b-input-group-prepend is-text>
                                    <i class="fa fa-lock-open"/>
                                </b-input-group-prepend>
                                <b-input type="password" required/>
                            </b-input-group>
                        </b-form-group>
                        <small><a href="#">Esqueceu sua senha ?</a></small>
                        <div class="float-right">
                            <b-btn size="sm" variant="outline-success" type="submit">
                                <i class="fa fa-sign-in-alt"/> Logar
                            </b-btn>
                        </div>
                    </b-form>
                </b-card-body>
            </b-card>
        </b-overlay>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component
    export default class Autenticacao extends Vue {
        private carregar = false;

        private Login(event: Event) {
            event.preventDefault();
            this.carregar = true;
        }
    }
</script>

<style lang="scss" scoped>
    @import "Autenticacao.style";

</style>
