<template>
    <div id="bs-app">
        <header id="bs-header">
            <!-- NAV_BAR -->
            <bs-nav-bar/>
        </header>
        <main id="bs-main">
            <div id="bs-main-view" class="shadow-lg">
                <router-view/>
            </div>
        </main>
        <footer id="bs-footer">
        </footer>
    </div>
</template>
